:root {
  --color0: #181C2D;
  --color1: #AF7C8B;
  --color2: #B095B1;
  --color3: #DDA1AB;
  --color4: #ABB4CB;
  --color5: #D7B4C6;
  --color6: #B6C6D6;
  --color7: #D8C6CF;
  --color8: #666666;
  --color9: #AF7C8B;
  --color10: #B095B1;
  --color11: #DDA1AB;
  --color12: #ABB4CB;
  --color13: #D7B4C6;
  --color14: #B6C6D6;
  --color15: #D8C6CF;
}
